<form [formGroup]="form" skipValidation (ngSubmit)="saveChange()">
  <p-panel #pnl header="Dự án">
    <!--form grid-->
    <div class="formgrid grid">
      <div class="field col-12">
        <label for="name" class="block">Tên <span class="required">*</span></label>
        <input id="name" pInputText type="text" class="w-full" formControlName="name" ð />
        <app-validation-message
          [entityForm]="form"
          fieldName="name"
          [validationMessages]="validationMessages"
        ></app-validation-message>
      </div>
      <div class="field col-12">
        <label for="code" class="block">Code <span class="required">*</span></label>
        <input id="code" pInputText type="text" class="w-full" formControlName="code" ð />
        <app-validation-message
          [entityForm]="form"
          fieldName="code"
          [validationMessages]="validationMessages"
        ></app-validation-message>
      </div>
      <div class="field col-12">
        <label for="startDate" class="block">Ngày kickoff dự án</label>
        <p-calendar formControlName="startDate" class="w-full"></p-calendar>
        <app-validation-message
          [entityForm]="form"
          fieldName="startDate"
          [validationMessages]="validationMessages"
        ></app-validation-message>
      </div>
      <div class="field col-12">
        <label for="endDate" class="block">Ngày hoàn thành dự án</label>
        <p-calendar formControlName="endDate" class="w-full"></p-calendar>
        <app-validation-message
          [entityForm]="form"
          fieldName="endDate"
          [validationMessages]="validationMessages"
        ></app-validation-message>
      </div>
      <div class="field col-12">
        <label for="budget" class="block">Ngân sách dự án <span class="required">*</span></label>
        <p-inputNumber formControlName="budget"></p-inputNumber>
        <app-validation-message
          [entityForm]="form"
          fieldName="budget"
          [validationMessages]="validationMessages"
        ></app-validation-message>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <button
        type="submit"
        [disabled]="!form.valid || btnDisabled"
        pButton
        icon="fa fa-save"
        iconPos="left"
        label="Lưu lại"
      ></button>
    </ng-template>
    <!--Block UI-->
    <p-blockUI [blocked]="blockedPanel" [target]="pnl">
      <p-progressSpinner></p-progressSpinner>
    </p-blockUI>
  </p-panel>
</form>
